<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/index.css">
    <title>Index</title>
</head>
<body data-theme="gray">

    <ul>
        <li style="--clr:#00ade1">
            <a href="home.html" data-text="&nbsp;Home">&nbsp;Home&nbsp;</a>
        </li>
        <li style="--clr:#20ce05">
            <a href="login.html" data-text="&nbsp;Login">&nbsp;Login&nbsp;</a>
        </li>
        <li style="--clr:#ffdd1c">
            <a href="#" data-text="&nbsp;Contact">&nbsp;Contact&nbsp;</a>
        </li>
        <li style="--clr:#dc00d4">
            <a href="circle.html" data-text="&nbsp;Projects">&nbsp;Projects&nbsp;</a>
        </li>
    </ul>
    

</body>
</html>