@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

body{
     background: #780206;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.divcenter{ 
     display:flex;
     justify-content:center;
     align-items: center;
     color: white;
     margin-top: 70px;
}

#form-content{
     width: 600px;
     height: 50px;
     border-radius: 20px;
     margin-top: 20px;
     padding-left: 20px;
     font-size: 20px;
}

#form-mensaje{
     width: 300px;
     height: 50px;
     border-radius: 20px;
     margin-top: 20px;
     padding-left: 20px;
     font-size: 20px;
}

.form-menssage{
     width: 600px;
     border-radius: 20px;
     margin-top: 20px;
     padding: 20;
     font-size: 20px;
     resize: none;
}

.form-submit{
     display: block;
     width: 150px;
     border-radius: 20px;
     margin: 20px auto;
     height: 40px;
}

.divtext{
     width: 45%;
     font-size: 25px;
}

#imgperfil{
     border-radius: 50%;
     width: 300px;
     height: 300px;
}

.divicons{
     margin-top: 100px;
}

#imgicons{
     width: 70px;
     height: 70px;
}

.ulnav{
     display: flex;
     flex-wrap: wrap;
     justify-content: right;
     list-style: none;
     margin-right: 10vh;
     

}

.linav{
     margin-left: 50px;
     border-radius:10rem;
}


.ulicons{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     list-style: none;
}

.liicons{
     display: flex;
     justify-content: space-between;
     padding: 40px;
}
